{
	"DimensionalityReductionModel": "/home/LatentAFIS/models/dim_reduction/D96/Save/model_769_96D_0.10.pth",
	"DescriptorModelPatch2": "/home/LatentAFIS/models/embeddingsize_64_patchtype_2/20180410-213622/",
	"DescriptorModelPatch8": "/home/LatentAFIS/models/embeddingsize_64_patchtype_8/20180410-213932/",
	"DescriptorModelPatch11": "/home/LatentAFIS/models/embeddingsize_64_patchtype_11/20180411-123356/",
	"MinutiaeExtractionModel": "/home/LatentAFIS/models/minutiae_AEC_64_fcn_2/",
	"MinutiaeExtractionModelLatentSTFT": "/home/LatentAFIS/models/minutiae_AEC_64_fcn_2_Latent_STFT/",
	"EnhancementModel": "/home/LatentAFIS/models/Enhancement_AEC_128_depth_4_STFT/",

	"LatentImageDirectory": "/home/LatentAFIS/data/images/NISTSD27/latent",
	"LatentTemplateDirectory": "/home/LatentAFIS/data/templates/NISTSD27/latent",
	"GalleryImageDirectory": "/home/LatentAFIS/data/images/NISTSD27/rolled",
	"GalleryTemplateDirectory": "/home/LatentAFIS/data/templates/NISTSD27/rolled",
	"ScorePath": "/home/LatentAFIS/scores",
	"CodebookPath": "/home/LatentAFIS/extraction/codebook_EmbeddingSize_96_stride_16_subdim_6.dat",
	"MinuPath": "None"

}